html,
body,
div#conteudo {
    width: 100%;
    height: 100%;
    background-color:#f0f0f0;
    font-family: 'Open Sans Condensed', sans-serif;
}

/*Login e Register*/
div.backgroundLogin {
    background: url(../img/login.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    padding: 25px 0;
}
section.login {
    text-align: center;
    margin: 0 auto;
    max-width: 350px;
    padding: 25px;
    border-radius: 10px;
    background-color: #3a3737;
}
section.login h1 {
    color: #f0f0f0;
    font-size: 30px;
    font-weight: normal;
}
section.login div#divResult {
    display: none;
    font-size: 18px;
}
section.login form.form-users label {
    color: #f0f0f0;
    padding: 5px 0;
    font-size: 15px;
}
section.login form.form-users label.radio-inline {
    padding: 5px 20px;
}
section.login form.form-users .form-control {
    height: inherit;
    padding: 10px;
    font-size: 20px;
}
section.login form.form-users input[type="text"],
section.login form.form-users input[type="password"] {
    margin-bottom: 18px;
}
section.login .btn {
    width: 100%;
    color: #faf9f9;
    border: 2px solid #f8f6f6;
    background: transparent;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 2px;
}

section.login .btn-access {
    padding: 12px 0;
}
section.login .btn:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
}

div.jumbotron {
    background-color:#f0f0f0;
    margin-bottom: 0px;
}

div.setores {
    margin-top: 60px;
}

button.item-setores {
    margin: 2px 0;
}

/*Loader*/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border: 15px solid #f0f0f0;
    border-radius: 50%;
    border-top: 15px solid #101010;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}



